ven_terminal/.vscode/
ven_terminal/__pycache__/
twiter_venv/.idea/
twiter_venv/__pycache__/
to_do_list/__pycache__/
to_do_list/dist/
to_do_list/build/
password/dist/
password/build/
Money_manger/__pycache__/
Money_manger/Backup/
contact_lst/build/
contact_lst/dist/
contact_lst/*.csv
visit_sys/__pycache__
visit_sys/.vscode
visit_sys/info.txt
visit_sys/test.py
__pycache__
.vscode
